 <%= form_for @legopins, html: { multipart: true } do |lego|  %>

   <div class="form-group">
     <%= lego.label :name %>
     <%= lego.text_field :name %>
   </div>

   <div class="form-group">
     <%= lego.label :year %>
     <%= lego.text_field :year %>
   </div>

   <div class="form-group">
     <%= lego.label :set_number %>
     <%= lego.text_field :setnumber %>
   </div>

   <div class="form-group">
     <%= lego.label :url %>
     <%= lego.text_area :url %>
   </div>

   <div class="form-group">
     <%= lego.label :image %>
     <%= lego.file_field :image %>
   </div>

   <br />

   <div class="actions">
     <%= lego.submit 'Submit' %>
     <%= link_to "Home", root_path %>
   </div>



<% end %>
